@{
    ViewData["Title"] = "Home Page";

    List<ResultadosModel> resultados = (List<ResultadosModel>)ViewBag.ListaResultados;



}
@foreach (var res in resultados)
    {<li>@res.Equipo1 @res.Goles1  vs @res.Equipo2 @res.Goles2</li>}